<!--<div>
    <select #chosenImage (change)="reload()">
        <option value="redbull">redbull</option>
        <option value="mb">mb</option>
        <option value="sf">sf</option>
        <option value="alfa">alfa</option>
        <option value="alpine">alpine</option>
        <option value="aston">aston</option>
        <option value="at">at</option>
        <option value="haas">haas</option>
        <option value="mclaren">mclaren</option>
        <option value="williams">williams</option>
    </select>
</div>-->

<!--
<div class="imageList">
    <mat-form-field appearance="fill">
        <mat-select (selectionChange)="reload()" [(ngModel)]="chosenImage">
            <mat-option *ngFor="let obj of teamsObjectInput" [value]="obj">{{obj.id}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>-->